@import '../../app.css';

.create-new-input-task {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 50px 30px;
  background-color: #00a0df;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 290px;
  color: #eaeaea;
  font-size: 14px;
}
.label-input-task label {
  margin: 10px ;
}
.label-input-task p {
  padding-left: 10px;
}
.label-input-task input{
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0 20px;
  width: 220px;
}
.label-input-task textarea {
  border: none;
  border-radius: 20px;
  padding: 10px;
  min-height: 100px;
  margin: 5px 0 20px;
  width: 220px;
}
.label-input-task select{
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0 20px;
  width: 220px;
}
.btn-md {
  border: none;
  color: #eaeaea;
  background-color: #3d3935;
  border-radius: 20px;
  font-weight: 700;
  padding: 0 20px;
  height: 32px;
  margin: 20px 10px;
}
.btn-md:hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: #3d3935;
  transition: all 0.3s ease;
}


