@import '../../app.css';

.reports-page {
  background-color: #eaeaea;
  min-height: 100vh;
}
.top-empoloyees {
  padding: 80px 60px;
}
.top-empoloyees h1 {
  color: #00a0df;
  text-decoration: underline;
}
.top-list-wrap {
  margin: 20px;
}
.top-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.top-list-wrap th {
  margin: 5px;
  border: 1px solid red;
  text-align: left;
}
.blue-dot {
  background-color: #00a0df;
  width: 11px;
  height: 11px;
}

