@import '../../app.css';

.project-title {
  background-color: #eaeaea;
  color: #3d3935;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}
.project-title p {
  font-size: 12px;
  text-align: right;
  color: #00a0df;
  padding: 5px 10px 0 10px;
}
.project-descr {
  width: 100%;
}
.project-descr p {
  padding: 15px 20px;
  font-size: 12px;
}
.project-tasks {
  padding: 15px 20px;
  font-size: 12px;
  width: 100%;
}
.taskToDo {
  padding: 5px 15px;
  background-color: #fcf5bf;
  color: #3d3935;
  min-height: 30px;
  margin: 5px;
  border-radius: 15px;
}
.taskDoing {
  padding: 5px 15px;
  background-color: #ffec6e;
  color: #3d3935;
  min-height: 30px;
  margin: 5px;
  border-radius: 15px;
}
.taskDone {
  padding: 5px 15px;
  background-color: #ffde06;
  color: #3d3935;
  min-height: 30px;
  margin: 5px;
  border-radius: 15px;
}

.project-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.project-status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-status-btn button {
  background-color: #00a0df;
  color: #eaeaea;
  width: 80%;
  border: none;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.project-status-btn button:hover {
  cursor: pointer;
  border: 1px solid #00a0df;
  background-color: #eaeaea;
  color: #00a0df;
  transition: all 0.3s ease;
}
