@import '../../app.css';

.task-page {
    background-color: #fff;
    width: 100vw;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  color: #3d3935;
  background-color: #eaeaea;
  position: relative;
  z-index: 1;
}

.all-tasks {
  display: flex;
  justify-content:flex-start;
  align-items: start;
  flex-wrap: wrap;
  margin: 20px 60px;
}
.input-wrap-task {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  }
.input-hidden-task{
  right: -282px;
}
.task {
  background-color: #eaeaea;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 23%;
  min-height: 200px;
}
