@import '../../app.css';

.task-page {
    background-color: #fff;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  color: #00a0df;
  background-color: #eaeaea;
  position: relative;
  z-index: 1;
}

.all-tasks {
  display: flex;
  justify-content:flex-start;
  align-items: start;
  flex-wrap: wrap;
  margin: 20px 60px;
}
.input-wrap-task {
  position: absolute;
  top: 180px;
  right: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  }
.input-hidden-task{
  right: -263px;
}
