@import '../../app.css';

.empl-page tr {
  height: 10px;
}
.empl-page td {
  height: 10px;
}
.employees-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  background-color: #eaeaea;
  color: #3d3935;
  position: relative;
  z-index: 1;
}
.btn-big {
  border: solid 1px #00a0df;
  color: #00a0df;
  border-radius: 20px;
  font-weight: 700;
  padding: 0 20px;
  height: 40px;
}
.btn-big:hover {
  cursor: pointer;
  background-color: #00a0df;
  color: #eaeaea;
  transition: all 0.3s ease;
}
.input-wrap {
  position: absolute;
  top: 180px;
  width: 100%;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
.input-hidden {
  top: 135px;
}

.empl-list {
  margin: 80px 0 80px 120px;
  width: 80%;
  height: 50%;
}
.empl-list th {
 text-align: left;
}


